<div id="media-off-canvas" class="off-canvas-selector"
  ng-class="{ 'short-list': 2 < 8 }"
  ng-show="$root.offCanvasMenu === 'media-selector'">
  <h1 class="title">Show media only?</h1>
  <ul>
    <li ng-class="{ 'is-selected': !$parent.isMediaOnly }">
      <a ng-click="$parent.isMediaOnly = false">
        <span>Show All</span>
      </a>
    </li>
    <li ng-class="{ 'is-selected': $parent.isMediaOnly }">
      <a ng-click="$parent.isMediaOnly = true">
        <span>Show <b>items with media</b> only</span>
      </a>
    </li>
    <li class="dummy"></li>
  </ul>
</div>
<div id="domains-off-canvas" class="off-canvas-domains"
  ng-class="{ 'short-list': ($parent.domains.length + 1) < 8 }"
  ng-show="$root.offCanvasMenu === 'domain-selector'">
  <h1 class="title">Select a domain:</h1>
  <ul>
    <li ng-class="{ 'is-selected': !$parent.selectedDomain }">
      <a ng-click="$parent.selectedDomain = ''">All Domains</a>
    </li>
    <li ng-repeat="domain in $parent.domains"
      ng-class="{ 'is-selected': domain === $parent.selectedDomain }">
      <a ng-class="'domain-' + domain.name"
        ng-click="$parent.$parent.selectedDomain = domain">
        <span>{{domain.title}}</span>
      </a>
    </li>
  </ul>
</div>
<div id="sorting-off-canvas" class="off-canvas-selector"
  ng-class="{ 'short-list': $parent.sorting.length < 8 }"
  ng-show="$root.offCanvasMenu === 'sorting-selector'">
  <h1 class="title">Select sorting type:</h1>
  <ul>
    <li ng-repeat="sortingOption in $parent.sorting"
      ng-class="{ 'is-selected': sortingOption === $parent.selectedSorting }">
      <a ng-click="$parent.$parent.selectedSorting = sortingOption">
        <span>{{sortingOption.title}}</span>
      </a>
    </li>
    <li class="dummy"></li>
  </ul>
</div>