<section id="timeline-event-{{event.id}}" class="row">
  <div class="media hide-for-medium-up"
    data-reveal-id="timeline-media-{{event.id}}"
    ng-show="event.type === 'card' && (event.image || event.video)">
    <img ng-show="event.thumbnail" ng-src="{{event.thumbnail}}" />
  </div>
  <form action="/upload" method="post" enctype="multipart/form-data"
    class="media hide-for-medium-up"
    ng-hide="event.type === 'card' && (event.image || event.video)"
    dropzone="dropzone"
    ng-dropzone>
    <span>Upload file to your private Cardfolio</span>
  </form>
  <div class="timeline-event">
    <span class="domain-bubble" ng-attr-title="{{event.item.domain.title}}"></span>
    <div class="media show-for-medium-up"
      data-reveal-id="timeline-media-{{event.id}}"
      ng-show="event.type === 'card' && (event.image || event.video)">
      <div class="image" ng-show="event.thumbnail" style="background-image: url({{event.thumbnail}})" />
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data"
      class="media show-for-medium-up"
      ng-hide="event.type === 'card' && (event.image || event.video)"
      dropzone="dropzone"
      ng-dropzone>
      <span class="show-for-large-up">Tap or drag to upload a file.</span>
      <span class="hide-for-large-up">Tap to upload a file</span>
    </form>
    <time datetime="{{event.date}}"
      am-time-ago="event.date"
      ng-class="'domain-' + event.item.domain.name"></time>
    <h1>{{event.item.title}}</h1>
    <div class="description" ng-show="event.type === 'card'">{{event.item.description}}</div>

    <ul ng-social-buttons class="share-buttons"
        data-url="'http://curiousworld.com'"
        data-title="event.item.title"
        data-description="event.item.description"
        data-image="event.image?event.image:event.video"
        showcounts="false">
      <li class="ng-social-facebook facebook" ><a>Facebook</a></li>
      <li class="ng-social-twitter twitter"><a>Twitter</a></li>
      <li class="ng-social-pinterest pinterest"><a>Pinterest</a></li>
      <li class="ng-social-instagram instagram"><a>Instagram</a></li>
      <li class="email"><a>Email</a></li>
    </ul>
  </div>
  <div id="timeline-media-{{event.id}}"
    class="reveal-modal image-modal large"
    data-reveal>
    <img ng-if="event.image" ng-src="{{event.image}}" />
    <div class="video" ng-if="event.video">
      <div class="video-wrapper">
        <video controls>
          <source ng-src="{{event.video}}" />
          Your browser does not support HTML5 video
        </video>
      </div>
    </div>
    <div class="small-12 options" ng-init="event.isConfirming = false">
      <div class="remove-option" ng-hide="event.isConfirming">
        <a ng-click="event.isConfirming=true">Remove</a>
      </div>
      <div class="removal-prompt" ng-show="event.isConfirming">
        <a ng-click="event.isConfirming = false">Cancel</a>
        <a>Permanently remove media</a>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</section>
