<div class="row">
  <div class="small-12 columns">
    <section class="slider">
        <div class="row">
          <div class="small-12 medium-6 columns hgroup">
            
              <h1>Curiosity Kit 1</h1>
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h4>
          
          </div>
          <div class="small-12 medium-6 columns">
            <ul class="domain-icons">
              <li><div class="domain-circle-creative"></div></li>
              <li><div class="domain-circle-language"></div></li>
              <li><div class="domain-circle-mathematics"></div></li>
              <li><div class="domain-circle-science"></div></li>
            </ul>
          </div>
        </div>
      <img ng-repeat="slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}"/>
      <ul>
        <li class="thumbnails show-for-large-up" ng-repeat="slide in slides" ng-class="{'active':isCurrentSlideIndex($index)}">
          <a href="#/curiositykits" ng-click="setCurrentSlideIndex($index);">
            <img ng-src="{{slide.thumbnail}}"/>
          </a>
        </li>
      </ul>
        <ul class="thumb-navigation hide-for-large-up">
          <li><div class="dot"></div></li>
          <li><div class="dot"></div></li>
          <li><div class="dot"></div></li>
          <li><div class="dot"></div></li>
        </ul>
    </section>
  </div>
</div>
<div class="row">
  <section class="title-heading">
    <div class="small-12 medium-8 large-8 columns">
      <h2>Curiosity Kits</h2>
      <hr class="show-for-small-only">
    </div>
    <div class="small-6 medium-2 large-2 columns">
      <select id="age">
        <option value="all-ages">All Ages</option>
        <option value="age-3">3</option>
        <option value="age-4">4</option>
        <option value="age-5">5</option>
        <option value="age-6">6</option>
        <option value="age-7">7</option>
      </select>
    </div>
    <div class="small-6 medium-2 large-2 columns">
      <select id="popularity">
        <option value="most-popular">Most Popular</option>
        <option value="newest">Newest</option>
        <option value="curious-george">Curious George</option>
      </select>
    </div>
  </section>
</div>
<div class="row">
  <div class="small-12 columns">
    <hr class="show-for-medium-up">
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <section class="curiosity-kits">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
        <li ng-show="!!kits" ng-repeat="kit in kits">
          <div class="curiosity-kit">
            <a ng-href="#/curiositykits/{{kit.id}}"></a>
            <h3>{{kit.title}}</h3>
            <img src="http://placehold.it/280x500" alt="">
            <div domain-circle=""></div>
            <p>${{kit.price}}</p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>