<section class="top">
  <div class="row">
    <div class="app-download">
      <div class="sub-nav">
        <div class="small-6 columns">
          <h1>Curious World App</h1>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button pill-button">Download App</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns video-container">
      <div class="row">
        <div class="small-9 columns app-video small-centered">
          <div class="video-container">
            <iframe src="//player.vimeo.com/video/20732587?color=969696"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <section class="title-heading">
    <div class="small-8 large-8 columns">
      <h2>Curious World App</h2>
    </div>
    <div class="small-2 columns">
      <select id="popularity">
        <option value="lowest">Most Popular</option>
        <option value="highest">Newest</option>
        <option value="highest">Curious George</option>
      </select>
    </div>
    <div class="small-2 columns">
      <select id="price">
        <option value="lowest">Lowest Price</option>
        <option value="highest">Highest Price</option>
      </select>
    </div>
  </section>
</div>
<section class="app-kits">
  <div class="row">
    <div class="small-12 columns">
      <ul class="app-kits-list">
        <li>
          <img src="img/cw-app/packs/dino-pack.png"/>
          <h2>Dino Discovery</h2>
          <p>$10</p>
        </li>
        <li>
          <img src="img/cw-app/packs/favorite-pack.png"/>
          <h2>Favorite Things</h2>
          <p>$10</p>
        </li>
        <li>
          <img src="img/cw-app/packs/eye-pack.png"/>
          <h2>Eyes</h2>
          <p>$10</p>
        </li>
        <li>
          <img src="img/cw-app/packs/animal-pack.png"/>
          <h2>Animal Eyes</h2>
          <p>$10</p>
        </li>
        <li>
          <img src="img/cw-app/packs/favorite-pack.png"/>
          <h2>Favorite Things</h2>
          <p>$10</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="row">
  <div class="small-12 columns">
    <hr>
  </div>
</div>
<section class="other-apps">
<div class="row">
  <div class="small-12 columns">
    <h2>Other HMH Apps</h2>
  </div>
</div>
  <div class="row">
    <div class="small-12 columns">
      <ul>
        <li>
          <img src="img/cw-app/other-apps/icon-1.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-1.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-1.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-2.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-3.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-4.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-5.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-6.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-7.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
        <li>
          <img src="img/cw-app/other-apps/icon-8.png" alt=""/>
          <p>Draw with Curious George</p>
        </li>
      </ul>
    </div>
  </div>
</section>
