<div class="row">
  <div class="small-12 columns">
    
    <div class="tab-content panel" ng-controller="DomainController as tab">
      <section class="cards-section" ng-show="tab.isSelected(1)" >
        <div class="small-6 columns small-centered card">
          <h1>There are 1,000 small ways you can help kids get school-ready in Domain 1</h1>
          <a href="#" class="button">Here's One</a>
        </div>
      </section>

       <section class="cards-section" ng-show="tab.isSelected(2)" >
        <div class="small-6 columns small-centered card">
          <h1>There are 1,000 small ways you can help kids get school-ready in Domain 2</h1>
          <a href="#" class="button">Here's One</a>
        </div>
      </section>

      <section class="cards-section" ng-show="tab.isSelected(3)" >
        <div class="small-6 columns small-centered card">
          <h1>There are 1,000 small ways you can help kids get school-ready in Domain 3</h1>
          <a href="#" class="button">Here's One</a>
        </div>
      </section>

      <section class="cards-section" ng-show="tab.isSelected(4)" >
        <div class="small-6 columns small-centered card">
          <h1>There are 1,000 small ways you can help kids get school-ready in Domain 4</h1>
          <a href="#" class="button">Here's One</a>
        </div>
      </section>

      <section class="cards-section" ng-show="tab.isSelected(5)" >
        <div class="small-6 columns small-centered card">
          <h1>There are 1,000 small ways you can help kids get school-ready in Domain 5</h1>
          <a href="#" class="button">Here's One</a>
        </div>
      </section>

      <section class="cards-section" ng-show="tab.isSelected(6)" >
        <div class="small-6 columns small-centered card">
          <h1>There are 1,000 small ways you can help kids get school-ready in Domain 6</h1>
          <a href="#" class="button">Here's One</a>
        </div>
      </section>

      <section class="cards-section" ng-show="tab.isSelected(7)" >
        <div class="small-6 columns small-centered card">
          <h1>There are 1,000 small ways you can help kids get school-ready in Domain 7</h1>
          <a href="#" class="button">Here's One</a>
        </div>
      </section>

      <section class="cards-section" ng-show="tab.isSelected(8)" >
        <div class="small-6 columns small-centered card">
          <h1>There are 1,000 small ways you can help kids get school-ready in Domain 8</h1>
          <a href="#" class="button">Here's One</a>
        </div>
      </section>
  
      <ul class="domain-tabs">
        <li ng-class="{active: tab.isSelected(1)}">
          <a ng-click="tab.selectTab(1)" href="">Domain 1</a>
        </li>
        <li ng-class="{active: tab.isSelected(2)}">
          <a ng-click="tab.selectTab(2)" href="">Domain 2</a>
        </li>
        <li ng-class="{active: tab.isSelected(3)}">
          <a ng-click="tab.selectTab(3)" href="">Domain 3</a>
        </li>
        <li ng-class="{active: tab.isSelected(4)}">
          <a ng-click="tab.selectTab(4)" href="">Domain 4</a>
        </li>
        <li ng-class="{active: tab.isSelected(5)}">
          <a ng-click="tab.selectTab(5)" href="">Domain 5</a>
        </li>
        <li ng-class="{active: tab.isSelected(6)}">
          <a ng-click="tab.selectTab(6)" href="">Domain 6</a>
        </li>
        <li ng-class="{active: tab.isSelected(7)}">
          <a ng-click="tab.selectTab(7)" href="">Domain 7</a>
        </li>
        <li ng-class="{active: tab.isSelected(8)}">
          <a ng-click="tab.selectTab(8)" href="">Domain 8</a>
        </li>
      </ul>
    </div>

  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      Doctor Explains Module
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      My Kid Did Module
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      Email Sign-Up Module
    </div>
  </div>
</div>