<div id="kidfolio">
  <header id="header-bar" class="row" ng-hide="timeline && !timeline.length">
    <div>
      <h1 class="medium-4 columns">Progress Timeline</h1>
      <ul id="filters" class="medium-8 columns">
        <li class="small-12 large-4 columns"
          ng-click="isMediaOnly = !isMediaOnly">
          <label class="checkbox" for="filter-by-media"
            ng-class="{ 'is-checked': isMediaOnly }">
            <input type="checkbox" ng-model="isMediaOnly" />
            <span>Show <b>items with images</b> only</span>
          </label>
        </li>
        <li class="small-6 large-4 columns">
          <select ng-model="selectedDomain"
            ng-options="domain.title for domain in domains">
            <option value="">All Domains</option>
          </select>
        </li>
        <li class="small-6 large-4 columns">
          <select ng-init="sorting = '-date'"
            ng-model="sorting">
            <option value="-date">Latest</option>
            <option value="date">Oldest First</option>
          </select>
        </li>
      </ul>
    </div>
  </header>
  <ol id="timeline" class="small-12 medium-10 medium-push-2"
    ng-class="{ 'is-empty': timeline && !timeline.length }">
    <li class="small-12" id="timeline-event-{{event.id}}"
      ng-show="timeline && timeline.length"
      ng-repeat="event in timeline | filter: filter | orderBy: sorting"
      ng-include="'partials/single-timeline-event.html'">
    </li>
    <li id="empty-timeline" ng-show="timeline && !timeline.length">
      <span class="timeline-bubble medium-2"></span>
      <div class="timeline-event medium-10">
        <strong>Start tracking your kid's progress!</strong>
        <p>On the Home page, mark cards as complete to save them to Kidfolio &mdash; a person growth chart. Kidfolio is always private. Only you can see this page.</p>
      </div>
    </li>
  </ol>
</div>