<section class="curiosity-kit-single" id="curiosity-kit-{{kit.id}}"
  ng-controller="SingleCuriosityKitController"
  ng-show="!!kit">
  <div class="row single-kit-hero">
    <div class="small-12 medium-12 large-3 columns">
      <div class="panel">
        <h1>{{kit.title}}</h1>
        <p>{{kit.description}}</p>
        <ul class="single-domain-icons">
          <li ng-repeat="domain in kit.domains">
            <div class="domain-circle-{{domain.name}}" title="{{domain.title}}"></div>
          </li>
        </ul>
        <h3>$10</h3>
        <a href="#" class="button">More Info</a>
      </div>
    </div>
    <div class="small-12 medium-12 large-9 columns">
      <section class="singleSlider">
          <img ng-repeat="slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}"/>
          <ul>
            <li class="thumbnails" ng-repeat="slide in slides" ng-class="{'active':isCurrentSlideIndex($index)}">
              <a href="" ng-click="setCurrentSlideIndex($index);">
                <img ng-src="{{slide.thumbnail}}"/>
              </a>
            </li>
          </ul>
        </section>
    </div>
  </div>

  <script type="text/ng-template" id="left-kit-item">
    <img alt="" ng-src="{{item.image}}" skrollr
      data-bottom-top="opacity: 0; top: 0%; left: 42%; -webkit-transform: rotate(180deg)"
      data--150-bottom="opacity: 0; top: 50%; right: 42%; -webkit-transform: rotate(-180deg)"
      data--170-bottom="opacity: 1; top: 0%; left: 40%; -webkit-transform: rotate(90deg)"
      data--300-bottom="opacity: 1; top: 0%; left: 0; -webkit-transform: rotate(0deg)" />
    <div class="description" skrollr
      data--370-bottom-top="opacity: 0"
      data--410-bottom-top="opacity: 1">
      <strong>{{item.title}}</strong>
      <div>{{item.description}}</div>
    </div>
  </script>

  <script type="text/ng-template" id="right-kit-item">
    <img alt="" ng-src="{{item.image}}" skrollr
      data-bottom-top="opacity: 0; top: 50%; right: 42%; -webkit-transform: rotate(-180deg)"
      data--150-bottom="opacity: 0; top: 50%; right: 42%; -webkit-transform: rotate(-180deg)"
      data--170-bottom="opacity: 1; top: 25%; right: 40%; -webkit-transform: rotate(-90deg)"
      data--300-bottom="opacity: 1; top: 0%; right: 0; -webkit-transform: rotate(0deg)" />
    <div class="description" skrollr
      data--370-bottom-top="opacity: 0"
      data--410-bottom-top="opacity: 1">
      <strong>{{item.title}}</strong>
      <div>{{item.description}}</div>
    </div>
  </script>

	<section class="kit-parallax">
    <div class="kit-item"
      ng-repeat="item in kit.items"
      ng-class-even="'left'"
      ng-class-odd="'right'"
      ng-include
      src="!($index % 2) ? 'right-kit-item' : 'left-kit-item'">
    </div>
    
    
    <div class="square" skrollr
      data-0="bottom:-40%"
      data-200="bottom:0%"
      data-700="bottom:0%">
      <div class="open-box right" skrollr
        data-0="left:50%;transform: translate(0px, 0px) rotate(0deg);top:0"
        data-200="left:50%;transform: translate(0px, -5px) rotate(0deg);"
        data-300="left:50%;transform: translate(0px, -10px) rotate(190deg);">
      </div>
      <div class="open-box left" skrollr
        data-0="left:0%;transform: translate(0px, 0px) rotate(0deg);top:0"
        data-200="left:0%;transform: translate(0px,-5px) rotate(0deg);"
        data-300="left:0%;transform: translate(0px, -10px) rotate(-190deg);">
      </div>
      
    </div>
	</section>
</section>