<div class="card" id="card-{{item.id}}"
  ng-controller="SingleCardController">
  <h1>{{item.title}}</h1>
  <div class="example">{{item.example}}</div>
  <div class="completion-buttons small-12 medium-6">
    <a class="ready-state" href=""
      ng-click="createEvent()"
      ng-show="!event">
      <span>Mark Complete</span>
    </a>
    <a class="done-state" href=""
      ng-click="removeEvent()"
      ng-hide="!event">
      <span>Did it!</span>
    </a>
  </div>
  <form action="/upload" method="post" enctype="multipart/form-data"
    class="upload-buttons small-12 medium-6"
    dropzone="dropzone"
    ng-dropzone>
    <a class="ready-state" href=""
      ng-click="startUpload()"
      ng-hide="event && event.media">
      <span>Capture it</span>
    </a>
    <a class="done-state" href=""
      ng-show="event && event.media">
      <span>Captured!</span>
    </a>
  </form>
  <div class="description">{{item.description}}</div>
</div>