<div class="card" id="card-{{item.id}}"
  ng-controller="SingleTimelineEventController">
  <time class="small-12 medium-2"
    datetime="{{event.date}}"
    am-time-ago="event.date"
    ng-class="'domain-' + event.item.domain.name"></time>
  <section class="timeline-event small-12 medium-10 large-10">
    <div class="media small-12 large-4"
      data-reveal-id="timeline-media-{{event.id}}"
      ng-show="!!event.media">
      <img ng-show="!!event.media" ng-src="{{event.media}}" />
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data"
      class="media small-12 large-4"
      ng-show="!event.media"
      dropzone="dropzone"
      ng-dropzone>
      <span>Tap or drag to upload a file.</span>
    </form>
    <h1>{{event.item.title}}</h1>
    <div>{{event.item.description}}</div>
    <p><a href="#/kidfolio/{{event.item.domain.name}}">{{event.item.domain.title}}</a></p>
  </section>
  <div id="timeline-media-{{event.id}}"
    class="reveal-modal image-modal large"
    ng-show="!!event.media"
    data-reveal>
    <img ng-src="{{event.media}}" />
    <div class="small-12 options" ng-init="isConfirming=false">
      <div class="remove-option" ng-hide="isConfirming">
        <a href ng-click="isConfirming=true">Remove</a>
      </div>
      <div class="removal-prompt" ng-show="isConfirming">
        <a href ng-click="isConfirming=false">Cancel</a>
        <a href ng-click="removeMedia()">Permanently remove media</a>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>