// Main Navigation
$p2-nav-link-margin-r: 20px; 
#p2-logo-wrapper{
	@media #{$medium-up}{
		display: inline-block;
		height: 50px;
		margin-right: $p2-nav-link-margin-r;
	}
}
#logo{
	@include hide-text();
	/*
	margin: (($mobile-header-height - $mobile-hitbox) / 2) 0;
	margin-right: 250px;
	max-width: 302px;
	height: $mobile-hitbox;
	*/
	
	font-size: 1rem;
	color: $white;
	background: transparent url(../img/curious-world-logo.png) scroll no-repeat 0 50%;
	background-size: contain;
	@media #{$medium-up}{
		margin: 0;
		//height: ($header-height - $navigation-item-size - $header-padding);
		//background-color: lime;
		font-size: 2rem;
		display: inline-block;
	}
	@media #{$small-only}{
		line-height: $mobile-hitbox;
		margin: ($mobile-header-height - $mobile-hitbox) 0;
		background: transparent url("../img/curious-world-logo-sml.png")  no-repeat;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
			background-image: url("../img/curious-world-logo-sml-2x.png");
			background-size: (124px / 2) (66px / 2);
		}
		margin-right: 200px;
		a{
			display: block;
		}
	}
}
#header{
	position: fixed;
	width: 100%;
	height: $mobile-header-height;
	background: $white;
	background: rgba(255,255,255,.9);
	z-index: 2;
	//box-shadow: 0 0 12px 3px transparentize($black, 0.90);
	@media #{$medium-up}{
		//position: relative;
		//padding-top: $header-padding;
		//height: $header-height;
		height: 70px;
	}
	& + div{
		padding-top: $mobile-header-height;
		position: relative;
		z-index: 1;
		@media #{$medium-up}{
			padding-top: 0;
		}
	}
}//end #header
.p2-navigation-wrapper{
	@media #{$medium-up}{
		text-align: center;			
		a{
			display: block;
			height: 50px;
			float: left;
			padding-top: 22px;
		}
	}
}
.p2-clear{
	clear: both;
}
#navigation{
	@media #{$medium-up}{
		
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		@media #{$medium-up}{
			display: inline;
		}
	}
	#main-navigation{
		//height: $navigation-item-size;
		li{
			display: inline-block;
			//float: left;
			//width: (100% / 5);
			text-align: center;
			position:relative;
			&.p2-nav-link{
				padding-bottom: 10px;
				margin-right: $p2-nav-link-margin-r;
				font-weight: bold;
			}
				
			&.p2-nav-link-sign-up{
				margin-right: 0;
			}
			span.p2-btn-sign-up{
				background-color: #fdb813;
				padding:10px;
				margin-left: 20px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
				padding-left: 20px;
				padding-right: 20px;
				color: white;
				font-weight: bold;
				letter-spacing: 1px;
				&:hover{
					background-color: #f0ae12;
				}
			}
			#free-shipping{
				background: url(../img/free-shipping-bubble.png) center center no-repeat;
				width:106px;
				height:42px;
				display:block;
				position:absolute;
				line-height:1.1em;
				font-size:rem-calc(13);
				padding-top:4px;
				color:white;
				top:0px;
				left:50%;
				transform: translateX(-50%);
				z-index:2;
				opacity: 0
			}
			&.is-active{
				a{
					font-weight: bold;
					color: $link-blue !important;
				}
			}
			&.home{
				&.is-active a:before{
					background-image: url(../img/nav/home-icon-pressed.png) !important;
				}
				a:before{
					background-image: url(../img/nav/home-icon.png);
				}
				a:hover:before{
					background-image: url(../img/nav/home-icon-hover.png);
				}
			}
			&.cardfolio{
				&.is-active a:before{
					background-image: url(../img/nav/cardfolio-icon-pressed.png) !important;
				}
				a:before{
					background-image: url(../img/nav/cardfolio-icon.png);
				}
				a:hover:before{
					background-image: url(../img/nav/cardfolio-icon-hover.png);
				}
			}
			&.community{
				&.is-active a:before{
					background-image: url(../img/nav/community-icon-pressed.png) !important;
				}
				a:before{
					background-image: url(../img/nav/community-icon.png);
				}
				a:hover:before{
					background-image: url(../img/nav/community-icon-hover.png);
				}
			}
			&.curiosity-kits{
				&.is-active a:before{
					background-image: url(../img/nav/curiosity-kits-icon-pressed.png) !important;
				}
				a:before{
					background-image: url(../img/nav/curiosity-kits-icon.png);
				}
				a:hover:before{
					background-image: url(../img/nav/curiosity-kits-icon-hover.png);
				}
				/*
				a:after{
					content:'FREE SHIPPING on \ orders!';
					background: url(../img/free-shipping-bubble.png) center center no-repeat;
					width:106px;
					height:42px;
					display:block;
					position:absolute;
					line-height:1.1em;
					font-size:rem-calc(13);
					padding-top:4px;
					color:white;
					top:-20px;
					left:50%;
					transform: translateX(-50%);
				} 
				*/
			}//end &.curiosity-kits
			&.beans-world{
				position: relative;
				height: $navigation-item-size;
				a{
					@include hide-text();
					text-indent: 200%;
					display: block;
					position: absolute;
					left: 50%;
					bottom: 0;
					margin-left: -(200px / 2);
					width: 200px;
					height: 130px;
					max-width: none;
					//background: transparent url(../img/nav/curious-world-app-nav.png) scroll no-repeat 50% 100%;
					background: transparent url(../img/nav/curious-world-app-sprite.png) 0px 0px;
					&:before {
						display: none;
					}
				}
				&.is-active a{
					background-position:0px -264px;
				}
				a:hover{
					background-position:0px -133px;
				}
				@media #{$large-up}{
					a{
						margin-left: -(259px / 2);
						width: 259px;
						height: 169px;
						max-width: none;
						background: transparent url(../img/nav/curious-world-app-sprite-lg.png) 0px 0px;
					}
					&.is-active a{
						background-position:0px -341px;
					}
					a:hover{
						background-position:0px -171px;
					}
				}
			}//end &.beans-world
			a{
				position: relative;
				//display: inline-block;
				//padding-top: $navigation-item-padding;
				//width: 100%;
				//height: $navigation-item-size;
				//max-width: $navigation-item-size;
				color: $link-grey;
				&:hover{
					color: $link-grey-hover;
				}
				/*
				&:before{
					content: "";
					display: block;
					position: absolute;
					left: 50%;
					top: ($navigation-item-padding - $navigation-item-icon-size);
					margin-left: -($navigation-item-icon-size / 2);
					width: $navigation-item-icon-size;
					height: $navigation-item-icon-size;
					background: transparent none scroll no-repeat 50% 50%;
				}
				*/
			}//end a
		}//end li
	}//end #main-navigation
	#account-navigation{
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 30px;
		height: $account-item-height;
		line-height: $account-item-height;
		z-index: 2;
		li{
			display: inline-block;
			margin-right: $account-item-padding;
			/*
			&.sign-in{
				span{
					font-weight:normal;
				}
			}
			*/
			&.sign-in a{
				font-weight: bold;
			}
		}
		#account-menu{
			margin: 0;
			min-width: $account-menu-width;
			& > a{
				position: relative;
				display: block;
				padding: 0 $account-menu-item-padding;
				width: 100%;
				height: $account-item-height;
				line-height: $account-item-height;
				color: $link-grey-hover;
				text-align: right;
				font-weight: bold;
				overflow: visible;
				z-index: 2;
				&.open{
					text-align: left;
					span{
						height: $account-menu-item-height;
						line-height: $account-menu-item-height;
						font-size: 1.25rem;

						&:after{
							-moz-transform: scaleY(-1);
							-o-transform: scaleY(-1);
							-webkit-transform: scaleY(-1);
							transform: scaleY(-1);
							filter: FlipV;
							-ms-filter: "FlipV";
						}
					}
				}
				span{
					position: relative;
					display: inline-block;
					padding-right: 24px;
					height: 100%;
					&:after{
						content: "";
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 24px;
						height: 100%;
						background: transparent url(../img/modals/user-down.png) scroll no-repeat 50% 50%;
					}
				}
			}//end & > a
			.f-dropdown{
				margin: 0;
				max-width: none;
				font-size: 1.25rem;
				border: none;
				background: transparent;
				pointer-events: none;
				z-index: 1;
				&:before,
				&:after{
					content: none;
					display: none;
				}
				ul{
					position: absolute;
					top: (-$account-item-height);
					list-style: none;
					margin: 0;
					padding: ($account-menu-item-height) 0 ($account-menu-item-padding / 2);
					font-size: inherit;
					background: $white;
					pointer-events: auto;
					box-shadow: 0 0 20px transparentize($black, 0.5);
					-webkit-box-sizing: content-box;
					-moz-box-sizing: content-box;
					box-sizing: content-box;
				}
				li{
					margin: 0;
					padding: 0;
					width: 100%;
					min-width: $account-menu-width;
					font-size: inherit;
					cursor: default;
					&:hover {
						background: none;
					}
				}
				a{
					display: block;
					padding: 0 $account-menu-item-padding;
					height: $account-menu-item-height;
					line-height: $account-menu-item-height;
					font-size: inherit;
					font-weight: 300;
					white-space: nowrap;
					cursor: pointer;
					&:hover {
						background: $light-grey;
					}
				}
			}//end .f-dropdown
		}//end #account-menu
	}//end #account-navigation
}//end #navigation
.p2-navigation{
	@media #{$medium-up}{
		display: inline-block !important;
		padding-top: 0;
	}
}
#header-bar{
	text-align: center;
	h1{
		@include big-title;
	}
	#filters{
		display: inline-block;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		height: $header-bar-height;
		color: $dark-grey;
		white-space: nowrap;
		overflow: hidden;
		@media #{$medium-up}{
			overflow: visible;
			.hide-for-medium-up{
				margin-left: 0;
			}
		}
		& > li{
			position: relative;
			display: inline-block;
			height: $header-bar-height;
			line-height: $header-bar-height;
			text-align: center;
			label{
				// For checkboxes
				display: inline-block;
				height: 100%;
				line-height: $header-bar-height;
				color: $dark-grey;
			}
			& + li{
				@media #{$medium-up} {
					margin-left: 80px - 16px;
				}
			}
		}
		select{
			margin: 0;
		}
	}
	.checkbox{
		@include prevent-selection();
		position: relative;
		padding-left: $checkbox-size + 4px;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -($checkbox-size / 2);
			width: $checkbox-size;
			height: $checkbox-size;
			background: transparent none scroll no-repeat 50% 50%;
			border: 1px solid $white;
		}
		&.is-checked:before{
			background-image: url(../img/modals/white-check.png);
		}
		input{
			display: none;
		}
	}
	select{
		color: $white;
		border: none;
	}
	.selector{
		.selected-option{
			color: $success-green;
			&:after{
				background-image: url(../img/green-down-arrow.png);
			}
			&.open{
				position: relative;
				background: $white !important;
				box-shadow: $dropdown-shadow;
			}
		}
		.f-dropdown{
			max-width: none;
			background: none;
			box-shadow: none;
			z-index: 99;
			&:before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: -($dropdown-shadow-size - $dropdown-shadow-position);
				width: 100%;
				height: $dropdown-shadow-size - $dropdown-shadow-position;
				background: $white;
			}
			& > ul{
				list-style: none;
				position: relative;
				margin: 0;
				padding: 0;
				box-shadow: $dropdown-shadow;
				.is-selected{
					display: none;
				}
				li a:hover{
					color: $white;
					background: $success-green;
				}
			}
		}
	}
	.single-selector{
		margin: 0;
		@media #{$xsmall-only}{
			font-size: 0.8rem;
		}
		a{
			padding: 0;
			padding-left: 8px;
			height: $header-bar-height;
			color: $success-green;
			background: none;
			white-space: nowrap;
			&:hover{
				background: transparentize($black, 0.95);
			}
			&:after{
				content: "";
				display: inline-block;
				width: ($header-bar-height / 2);
				height: $header-bar-height;
				vertical-align: bottom;
				background: transparent url(../img/green-down-arrow.png) scroll no-repeat 50% 60%; // url(../img/modals/user-down.png)
			}
		}
	}
	.sorting-selector{
		@include filter-min-width(134px);
	}
	.domain-selector{
		@include filter-min-width(204px);
		a,
		.f-dropdown a{
			@media #{$medium-up}{
				position: relative;
				&:before{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: $header-bar-height;
					height: $header-bar-height;
					background: transparent none scroll no-repeat 50% 50%;
				}
				&.domain-creative{
					@include filter-domain(
						$color-creative,
						url(../img/domains/creative-icon-white.png)
					);
				}
				&.domain-language{
					@include filter-domain(
						$color-language,
						url(../img/domains/language-icon-white.png)
					);
				}
				&.domain-math{
					@include filter-domain(
						$color-math,
						url(../img/domains/math-icon-white.png)
					);
				}
				&.domain-health{
					@include filter-domain(
						$color-health,
						url(../img/domains/health-icon-white.png)
					);
				}
				&.domain-family{
					@include filter-domain(
						$color-family,
						url(../img/domains/family-icon-white.png)
					);
				}
				&.domain-executive{
					@include filter-domain(
						$color-executive,
						url(../img/domains/executive-icon-white.png)
					);
				}
				&.domain-social{
					@include filter-domain(
						$color-social,
						url(../img/domains/social-icon-white.png)
					);
				}
				&.domain-science{
					@include filter-domain(
						$color-science,
						url(../img/domains/science-icon-white.png)
					);
				}
				&.selected-option{
					&:hover,
					&:before {
						background-color: transparent;
					}
				}
			}
		}
		.f-dropdown{
			a{
				padding-left: $header-bar-height + 8px;
				&:hover{
					background: $light-grey;
				}
			}
		}
	}
}//end #header-bar