ul.accounts{
	float:right;
	position:absolute;
	top:0;
	right: 0;
	padding-top:0;
	margin-right:15px;
	letter-spacing: 1px;
	.sign-in{
		margin-left:10px;
	}
	li{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color:$blue;
		float:left;
		a{
			padding: 10px 12px;
			color:#fff;
			text-transform: uppercase;
			font-weight:100;
			font-size:16px;
			width:100%;
			height:100%;
			display:block;
			text-align:center;
		}
		&.create-account{
			&:hover{
			background-color:white;
				&:hover a{
					color:#707271;
				}
			}
		}
		&.sign-in{
			background-color:$light-blue;
			float:right;
			span{
				font-weight:100;
			}
			&:hover{
				background-color:white;
			}
			&:hover a{
				color:#707271;
			}
		}
	}
}
// Nav modal
#nav-modal{
	.home,
	.cardfolio,
	.community,
	.curiosity-kits,
	.beans-world{
		a{
			position: relative;
			padding-left: ($navigation-mobile-icon-size + 8px);
			&:before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: (-$navigation-mobile-icon-size / 2);
				width: $navigation-mobile-icon-size;
				height: $navigation-mobile-icon-size;
				background: transparent none scroll no-repeat 50% 50%;
				background-size: contain;
			}
		}
	}
	.user-mobile{
		padding: 0;
		height: auto;
		label{
			display: block;
			position: relative;
			padding: 0 20px;
			font-size: inherit;
			font-weight: inherit;
			&.is-open:before{
				transform: scaleY(-1);
			}
			&:before{
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				height: 50px;
				width: 50px;
				background: transparent url(../img/modals/user-down.png) scroll no-repeat 50% 50%;
			}
		}
		.submenu{
			display: none;
			background-color: transparentize($black, 0.9);
			a{
				padding-left: 20px;
			}
		}
	}
	.home{
		&.is-active a:before{
			background-image: url(../img/nav/home-icon-pressed.png);
		}
		a:before{
			background-image: url(../img/nav/home-icon-hover.png);
		}
	}
	.cardfolio{
		&.is-active a:before{
			background-image: url(../img/nav/cardfolio-icon-pressed.png);
		}
		a:before{
			background-image: url(../img/nav/cardfolio-icon-hover.png);
		}
	}
	.community{
		&.is-active a:before{
			background-image: url(../img/nav/community-icon-pressed.png);
		}
		a:before{
			background-image: url(../img/nav/community-icon-hover.png);
		}
	}
	.curiosity-kits{
		&.is-active a:before{
			background-image: url(../img/nav/curiosity-kits-icon-pressed.png);
		}
		a:before{
			background-image: url(../img/nav/curiosity-kits-icon-hover.png);
		}
	}
	.beans-world{
		&.is-active a:before{
			background: $link-blue;
			border-color: $link-blue;
		}
		a:before{
			border: 1px solid $dark-grey;
			border-radius: 50%;
		}
	}
}