$header-height:70px;
$mobile-header-height:55px;
$header-logo-height:54px;

$header-padding: 24px;
$navigation-item-size: 120px;
$navigation-item-padding: 70px;
$navigation-item-icon-size: 44px;
$navigation-mobile-icon-size: ($mobile-hitbox / 2);
$domain-mobile-icon-size: ($mobile-hitbox / 2);
$account-item-height: 36px;
$account-item-padding: 16px;
$account-menu-width: 180px;
$account-menu-item-padding: 20px;
$account-menu-item-height: 50px;
$header-bar-height: 50px;
$checkbox-size: 16px;
$dropdown-shadow-position: 2px;
$dropdown-shadow-size: 4px;
$dropdown-shadow: 0 $dropdown-shadow-position $dropdown-shadow-size transparentize($black, 0.7);

// Mobile Navigation
.mobile-button {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	background: transparent url(../img/nav-mobile.png) scroll no-repeat 50% 50%;
	width: 68px;
	height: $mobile-header-height;

	&.close-reveal-modal {
		display: block;
		//top: -$mobile-header-height;
		right: 0;
	}
}
#mobile-title {
	display: block;
	position: absolute;
	right: 68px + 8px;
	top: 0;
	height: $mobile-header-height;
	line-height: $mobile-header-height;
	font-weight: normal;
	font-size: 1.5rem;
	color: $dark-grey;
}
#mobile-back {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 40px;
	width: 50%;
	height: $mobile-header-height;
	line-height: $mobile-header-height;
	color: $dark-grey;
	cursor: pointer;
	background: $white;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: (((40px / 2) + (20px / 2)) / 2);
		width: (20px / 2);
		height: 100%;
		background: transparent url(../img/mobile-back.png) scroll no-repeat 50% 50%;
		background-size: contain;
	}
}
@media #{$small-only} {
	.reveal-is-open,
	.move-left,
	.move-right {
		#mobile-back {
			display: block;
		}
		#mobile-title {
			display: none;
		}
	}
}
// Main Navigation
#header {
	position: fixed;
	width: 100%;
	height: $header-height;
	background: rgba(255,255, 255, 0.8);
	z-index: 2;
	transition: .5s background ease;
	&:hover{
		background: rgba(255,255, 255, 1);
	}
	@media #{$small-only} {
		height:	$mobile-header-height;
	}
}
#logo {
	@include hide-text();
	margin: (($header-height - $header-logo-height) / 2) 0;
	max-width: 302px;
	height: $header-logo-height;
	line-height: $header-logo-height;
	font-size: 1rem;
	color: $white;
	background: transparent url(../img/curious-world-logo.png) scroll no-repeat 0 50%;
	background-size: contain;

	@media #{$small-only} {
		margin: ($mobile-header-height - $mobile-hitbox) 0;
		background: transparent url("../img/curious-world-logo-sml.png")  no-repeat;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background-image: url("../img/curious-world-logo-sml-2x.png");
			background-size: (124px / 2) (66px / 2);
		}
	}
	a {
		display: block;
	}
}
#navigation {
	ul {
		display:block;
		width:100%;
		margin: 0;
		padding: 0;
		text-align: right;
	}
	#main-navigation {
		height: $header-height;
		li {
			display:inline-block;
			padding:0;
			position:relative;
			a {
				position: relative;
				display: inline-block;
				width: 100%;
				height: $header-height;
				color: $link-grey;
				text-align:center;
				line-height:$header-height;
				&:hover {
					color: $link-grey-hover;
				}
			}
			&.is-active {
				a {
					font-weight: bold;
					color: $link-grey !important;
				}
			}
			&.sign-up {
				padding:0;
				a {
					display:inline;

					padding:10px 25px;
					color:white;
					background-color:$orange;
					-webkit-border-radius: 18px;
					border-radius: 18px;
				}
			}
			@media #{$medium-only} {
				padding-right: 10px;
				a {
					font-size: 1rem;
				}
				&.sign-up {
					a {
						font-size:0.8rem;
						padding:10px;
					}
				}
			}
			@media #{$large-up} {
				padding-right: 25px;
				a {
					font-size: 1.2rem;
				}
			}
		}
	}
}
