<div class="small-12 columns">
	<div class="tab-content">
		<section id="cards-section">
      <ul class="items"
        ng-class="{ 'is-empty': !cards.length, 'backward': !isForward, 'forward': isForward }">
        <li id="default-card" class="item"
          ng-init="isForward = true; selectedCard = -1"
          ng-class="{ 'is-active': selectedCard < 0, 'is-last': lastCard < 0 }">
          <p>There are 1,000 small ways you can help your kids get school-ready.</p>
          <a class="learn-more button" data-reveal-id="learn-more">Learn more</a>
          <a class="get-started button" ng-click="isForward = true; lastCard = -1; selectedCard = 0">Get started</a>
          <div id="learn-more" class="reveal-modal image-modal" data-reveal>
            <div class="row video">
              <div class="video-wrapper">
                <iframe src="//player.vimeo.com/video/20732587?color=969696"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </li>
        <li class="item"
          ng-repeat="card in cards track by $index"
          ng-class="{ 'is-active': $parent.selectedCard === $index, 'is-last': $parent.lastCard === $index }"
          ng-include="'home/single-card.html'"></li>
      </ul>
      <div class="item-navigation" ng-show="selectedCard >= 0">
        <a class="prev"
          ng-show="selectedCard >= 0"
          ng-click="isForward = false; lastCard = selectedCard; selectedCard = Math.max(selectedCard - 1, -1)">Previous</a>
        <a class="next"
          ng-show="(selectedCard + 1) < cards.length"
          ng-click="isForward = true; lastCard = selectedCard; selectedCard = Math.min(selectedCard + 1, cards.length - 1)">Next</a>
      </div>
		</section>
		<div class="age-selector small-12">
			<div class="selector show-for-medium-up" ng-init="$parent.selectedAge = 4">
				<span>Select age:</span>
				<ul>
					<li ng-repeat="age in ages"
						ng-class="{ 'is-selected': $parent.$parent.selectedAge === age }">
						<a ng-click="$parent.$parent.selectedAge = age">{{age}}</a>
					</li>
				</ul>
			</div>
			<div class="single-selector hide-for-medium-up">
				<a class="right-off-canvas-toggle"
          ng-click="$root.offCanvasMenu = 'age-selector'">My kid is {{selectedAge}}</a>
			</div>
		</div>
	</div>
</div>
