@import 'cards';

$domain-height: 150px;
$domain-width: (100% / 8);
$domain-min-width: 140px;
$domain-padding: 75px;
$domain-title-height: 48px;
$domain-icon-size: 42px;
$domain-unlock-grey: #898c8d;
$domain-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
$background-color: white;

// Domains
#domains {
	position: relative;
	max-width: none;

	@media #{$small-only} {
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
}
#domain-scroller {
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
}
#domain-tabs {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: -20px;
		width: 100%;
		height: 20px;
		min-width: ($domain-min-width * 8);
		box-shadow: 0 5px 15px transparentize($dark-grey, 0.5);
		z-index: 2;
	}
	li {
		position: relative;
		display: inline-block;
		height: $domain-height;
		width: $domain-width;
		min-width: $domain-min-width;
		text-align: center;
		color: $white;
		white-space: normal;
		vertical-align: top;

		&:nth-child(4), &:nth-child(5){
			.title{
				padding-top:8px;
			}
		}

		&.is-selected {
			z-index: 3;

			a {
				&:before, span {
					opacity: 1;
				}
			}
		}
		a {
			display: block;
			position: relative;
			padding: $domain-padding 8px 0;
			height: $domain-height;
			font-weight: 600;
			color: inherit;
			z-index: 1;
			background: $grey;

			&:before, span {
				opacity: 0.7;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 50%;
				top: (($domain-padding - $domain-icon-size) / 2);
				margin-left: (-$domain-icon-size / 2);
				width: $domain-icon-size;
				height: $domain-icon-size;
				background: transparent none scroll no-repeat 50% 50%;
			}
		}

		.title {
			display: block;
			height: $domain-title-height;
			line-height:1.3;
			width:100px;
			margin: 0 auto;
		}
		.count {
			display: block;
		}
		&.is-locked .count {
			position:relative;
			top:-5px;
			@include hide-text();
			background: transparent url(../img/home/unlock-domain-small.png) scroll no-repeat 50% 50%;
		}

		// Domain colors
		.domain-creative {
			background: $color-creative;

			&:before {
				background-image: url(../img/domains/creative-icon-white.png);
			}
		}
		.domain-language {
			background: $color-language;

			&:before {
				background-image: url(../img/domains/language-icon-white.png);
			}
		}
		.domain-math {
			background: $color-math;

			&:before {
				background-image: url(../img/domains/math-icon-white.png);
			}
		}
		.domain-health {
			background: $color-health;

			&:before {
				background-image: url(../img/domains/health-icon-white.png);
			}
		}
		.domain-family {
			background: $color-family;

			&:before {
				background-image: url(../img/domains/family-icon-white.png);
			}
		}
		.domain-executive {
			background: $color-executive;

			&:before {
				background-image: url(../img/domains/executive-icon-white.png);
			}
		}
		.domain-social {
			background: $color-social;

			&:before {
				background-image: url(../img/domains/social-icon-white.png);
			}
		}
		.domain-science {
			background: $color-science;

			&:before {
				background-image: url(../img/domains/science-icon-white.png);
			}
		}
	}
}

// Domain unlock
.unlock-domains {
	display: none;
	position: absolute;
	left: 0;
	top: (100% * (1 / 8));
	width: 100%;
	height: (100% * (7 / 8));
	padding-top: 30px;
	text-align: center;
	background: transparentize($black, 0.3);
	color: $white;
	z-index: 4;

	@media #{$medium-up} {
		display: block;
		position: relative;
		top: 0;
		padding: 0;
		height: 0;
		width: ($domain-width * 8);
		min-width: ($domain-min-width * 8);
		background: transparent;

		.unlock-wrapper {
			position: absolute;
			right: 0;
			top: (-$domain-height);
			padding-top: 30px;
			width: ($domain-width * 7);
			height: $domain-height;
			min-width: ($domain-min-width * 7);
			background: transparentize($black, 0.3);
		}
	}
	@media #{$large-up} {
		left: auto;
		right: 0;
	}
	&.is-locked {
		opacity: 0;

		&:hover {
			opacity: 1;
		}
	}
	&.perma-locked {
		display: block;
		opacity: 1;
	}
	.button {
		@include hide-text();
		padding: 0 16px;
		width:100%;
		height: 51px;
		position:relative;
		left:50%;
		transform: translateX(-50%);
		line-height: 50px;
		color: $dark-grey;
		font-weight: bold;
		font-size: 1.3rem;
		text-transform: uppercase;
		background: transparent url(../img/home/unlock-domain-button.png) scroll no-repeat 50% 50%;
	}
	p {
		font-weight: bold;

		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}
#domain-tabs + .unlock-domains {
	@media #{$small-only} {
		display: none !important;
	}
}
.reveal-modal .unlock-domains {
	display: block;
}

// Mobile selector
$domain-selector-icon-size: $mobile-hitbox - 8px;
$domain-selector-count-size: 36px;

#domain-viewer {

	.single-selector{
		height:65px;
	}

	.single-selector > a {
		color: $white;
		line-height:65px;

		&:after {
			transform: scaleY(-1);
			background-image: url(../img/small-arrow.png);
			background-position: 50% 40%;
		}
	}
	.domain-selector {
		&:before {
			content: "";
			position: absolute;
			display: block;
			left: 10px;
			top: (($domain-selector-icon-size - 10) / 2);
			width: $domain-selector-icon-size;
			height: $domain-selector-icon-size;
			background: transparent none scroll no-repeat 50% 50%;
			background-size: contain;
		}
		a {
			padding-left: $domain-selector-icon-size + 18px;
		}
		.count {
			&:before {
				content: "(";
			}
			&:after {
				content: ")";
			}
		}
		&.domain-creative:before {
			background-image: url(../img/domains/mobile/creative-icon.png);
		}
		&.domain-language:before {
			background-image: url(../img/domains/mobile/language-icon.png);
		}
		&.domain-math:before {
			background-image: url(../img/domains/mobile/math-icon.png);
		}
		&.domain-science:before {
			background-image: url(../img/domains/mobile/science-icon.png);
		}
		&.domain-family:before {
			background-image: url(../img/domains/mobile/family-icon.png);
		}
		&.domain-executive:before {
			background-image: url(../img/domains/mobile/executive-icon.png);
		}
		&.domain-social:before {
			background-image: url(../img/domains/mobile/social-icon.png);
		}
		&.domain-health:before {
			background-image: url(../img/domains/mobile/health-icon.png);
		}
	}
}


// Community
.community {
	& > h1 {
		@include big-title;
		margin-top: 32px;
		margin-bottom: 32px;
		font-size: 2.25rem;
	}
	#challenges {
		position: relative;
		//margin: 0 40px;

		&:first-child{
			padding-left:0;
		}
		& > li {
			padding-bottom: 60px;

			& > h2 {
				margin: 0;
				margin-bottom: 5px;
				color: $success-green;
				text-align: center;
				font-size: 1.7rem;
			}
		}
		& > li + li + li + li { // 4th list item and any after it
			display: none !important;

			@media #{$medium-only} {
				display: block !important;
			}
		}
		@media #{$medium-only} {
			& > li:nth-child(2n + 1) {
				clear: left;
			}
		}
	}
}



.domain-description{
	padding:0;
	background:white;
	margin-bottom: 60px;
	width:330px;
	@media #{$medium-only}{
		width: 490px;
	}
	@media #{$large-up}{
		width:680px;
	}

	ul{
		list-style:none;
		margin:0;
		li{
			min-height:90px;
			padding:20px;
			&:after{
				content: '';
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
			}
			&.domain-creative{
				background: $color-creative;
				&:after{
					background: url('../img/domains/domain-key/creative-bg.png');
				}
			}
			&.domain-executive{
				background: $color-executive;
				&:after{
					background: url('../img/domains/domain-key/executive-bg.png');
				}
			}
			&.domain-family{
				background: $color-family;
				&:after{
					background: url('../img/domains/domain-key/family-bg.png');
				}
			}
			&.domain-health{
				background: $color-health;
				&:after{
					background: url('../img/domains/domain-key/health-bg.png');
				}
			}
			&.domain-language{
				background: $color-language;
				&:after{
					background: url('../img/domains/domain-key/language-bg.png');
				}
			}
			&.domain-math{
				background: $color-math;
				&:after{
					background: url('../img/domains/domain-key/math-bg.png');
				}
			}
			&.domain-science{
				background: $color-science;
				&:after{
					background: url('../img/domains/domain-key/science-bg.png');
				}
			}
			&.domain-social{
				background: $color-social;
				&:after{
					background: url('../img/domains/domain-key/social-bg.png');
				}
			}
		}
	}
	p{
		color:white;
		margin-bottom:0;
		span{
			font-weight:bold;
		}
	}
}

.domain-key{
	margin-top:20px;
	min-height:300px;
	background: $background-color;
	width: 330px;
	@media #{$medium-only}{
		width: 490px;
	}
	@media #{$large-up}{
		width:680px;
		min-height:400px;
	}

	ul{
		margin:0;
		li{
			display:block;
			position:absolute;
			width:89px;
			height:91px;
			text-align:center;
			z-index:1;


			a{
				display:block;
				position:relative;
				padding-top:120px;
				line-height:1.2;
				-webkit-transition: 0.5s all ease-in-out;
				-webkit-transform: scale(0.7);
				@media #{$large-up}{
					-webkit-transform: scale(0.9);
				}

				span{
					background-color: $background-color;

				}

				&:after{
					content: '';
					display:block;
					position:absolute;
					height:1px;
					z-index: -1;
				}
			}
			&.domain-creative{
				bottom:15%;
				left:0%;
				@media #{$medium-only}{
					bottom: 18%;
					left:5%;
				}
				@media #{$large-up}{
					bottom: 25%;
					left: 7%;
				}
				a{
					background: url('../img/domains/domain-key/cube-creative.png') center center no-repeat;
					color: $color-creative;
					&:after{
						top:0%;
						left:0px;
						width: 200px;

						border: 2px dashed $color-creative;
						-webkit-transform: rotate(-55deg);
						@media #{$medium-only}{
							width:160px;
							top:-20%;
						}
						@media #{$large-up}{
							width: 235px;
							top:-35%;
							left: 10px;
						}
					}
				}
			}
			&.domain-executive{
				bottom:20%;
				right:0%;
				@media #{$medium-only}{
					right: 5%;
					bottom: 22%;
				}
				@media #{$large-up}{
					right: 10%;
					bottom: 25%;
				}
				a{
					background: url('../img/domains/domain-key/cube-executive.png') center center no-repeat;
					color: $color-executive;
					&:after{
						top:-30%;
						left:-100%;
						width: 120px;

						border: 2px dashed $color-executive;
						-webkit-transform: rotate(-115deg);
						@media #{$medium-only}{
							top:-20%;
							width:140px;
						}
						@media #{$large-up}{
							width: 230px;
							top: -40%;
							left: -135%;
							-webkit-transform: rotate(-120deg);
						}
					}
				}
			}
			&.domain-family{
				bottom:40%;
				right:28%;
				@media #{$medium-only}{
					bottom: 35%;
				}
				@media #{$large-up}{
					right: 35%;
				}
				a{
					background: url('../img/domains/domain-key/cube-family.png') center center no-repeat;
					color: $color-family;
					&:after{
						top:0%;
						left:-30%;
						width: 130px;

						border: 2px dashed $color-family;
						-webkit-transform: rotate(55deg);
						@media #{$medium-only}{
							-webkit-transform: rotate(-150deg);
							left: -138%;
							width:210px;
						}
						@media #{$large-up}{
							left: -100%;
							width: 160px;
							top:-20%;
						}
					}
				}
			}
			&.domain-health{
				bottom:22%;
				left:25%;
				@media #{$large-up}{
					left: 30%;
				}
				a{
					background: url('../img/domains/domain-key/cube-health.png') center center no-repeat;
					color: $color-health;
					&:after{
						top:65%;
						left:100%;
						width: 120px;

						border: 2px dashed $color-health;
						-webkit-transform: rotate(5deg);
						@media #{$medium-only}{
							width: 270px;
						}
						@media #{$large-up}{
							width: 270px;
							-webkit-transform: rotate(-5deg);
							top:55%;
						}
					}
				}
			}
			&.domain-language{
				top:0%;
				left:25%;
				@media #{$large-up}{
					left: 33%;
				}
				a{
					background: url('../img/domains/domain-key/cube-language.png') center center no-repeat;
					color: $color-language;
				}
			}
			&.domain-math{
				top:-5%;
				right:22%;
				@media #{$large-up}{
					right: 30%;
					top:0%;
				}
				a{
					background: url('../img/domains/domain-key/cube-math.png') center center no-repeat;
					color: $color-math;
					&:after{
						top:160%;
						left:-225%;
						width: 260px;

						border: 2px dashed $color-math;
						-webkit-transform: rotate(-35deg);
						@media #{$medium-only}{
							width:250px;
							left: -200%;
							-webkit-transform: rotate(-40deg);
						}
						@media #{$large-up}{
							left: -330px;
							top:190px;
							width: 380px;
						}
					}
				}
			}
			&.domain-science{
				top:0%;
				right:0%;
				@media #{$large-up}{
					right:6%;
					top:5%;
				}
				a{
					background: url('../img/domains/domain-key/cube-science.png') center center no-repeat;
					color: $color-science;
					&:after{
						top:120%;
						left:-135%;
						width: 130px;

						border: 2px dashed $color-science;
						-webkit-transform: rotate(-45deg);
						@media #{$medium-only}{
							width:160px;
							top:121%;
							left: -145%;
						}
						@media #{$large-up}{
							width: 180px;
							left: -175%;
						}
					}
				}
			}
			&.domain-social{
				top:0%;
				left:0%;
				@media #{$large-up}{
					left: 9%;
					top:2%;
				}
				a{
					background: url('../img/domains/domain-key/cube-social.png') center center no-repeat;
					color: $color-social;
					&:after{
						top:125%;
						left:60px;
						width: 120px;

						border: 2px dashed $color-social;
						-webkit-transform: rotate(45deg);
						@media #{$medium-only}{
							width:130px;
							top:128%;
							left:65px;
						}
						@media #{$large-up}{
							width: 175px;
							left: 55px;
							-webkit-transform: rotate(55deg);
						}
					}
				}
			}
		}
	}
}
#domain-key-modal{
	background-color:white;
	padding:0;
	.domain-description{
		width:100%;
		margin:0;
	}
	.domain-key{
		margin-top:0;
	}
}

#domain-key-modal-trigger{
	position:absolute;
	top:0;
	right:20px;
	content: '';
	background: url('../img/home/about-icon.png');
	width: 36px;
	height:36px;
}
