<div id="cards" class="row">
  <section class="small-10 small-centered columns">
    <div class="small-1 columns item-navigation prev" ng-hide="displayDefault">
      <a cycle-card="" class="prev" ng-click="cardBackwardAnimation()">Prev Card</a>
    </div>

    <div class="small-1 columns item-navigation next" ng-hide="displayDefault">
      <a cycle-card="" class="next" ng-click="cardForwardAnimation()">Next Card</a>
    </div>

    <div id="card">
      <div class="card-domain science">
        <img src="img/learning-areas/domain-icons/science.svg" alt="">
      </div>
      <div class="row">
        <div class="small-4 columns card-buttons">
          <a href="#" class="complete-btn">Complete</a>
          <a href="#" class="media-btn">Upload Media</a>
        </div>
        <div class="small-8 columns card-copy">
          <h1>Card Title</h1>
          <p>Card Copy here Card Copy here Card Copy here Card Copy here Card Copy here Card Copy here </p>
          <p><strong>Skill: </strong>Skill copy here Skill copy here Skill copy here</p>
        </div>
      </div>
    </div>
  </section>
</div>
