<div class="flashcards-page" on-load-fade>

<!--   top dropdowns -->
  <div class="row">
    <div class="small-12 columns dropdowns">
      <a data-dropdown="hover1" data-options="is_hover:true" class="card-drop-down">Select Child's Age</a>
        <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li ng-repeat="age in ages"
            ng-class="{ 'is-selected': $parent.$parent.selectedAge === age }">
            <a ng-click="$parent.$parent.selectedAge = age">{{age}}</a>
          </li>
        </ul>

      <a data-dropdown="hover2" data-options="is_hover:true" class="card-drop-down">Choose Learning Area</a>
        <ul id="hover2" class="f-dropdown" data-dropdown-content>
          <li ng-class="{ 'is-selected': domains[0] === $parent.selectedDomain || !$parent.selectedDomain }">
            <a ng-class="'domain-' + domains[0].name"
              ng-click="$parent.selectedDomain = domains[0]">
              <span class="title">{{domains[0].title}}</span>
            </a>
          </li>
          <li ng-repeat="domain in domains"
            ng-hide="$first"
            ng-class="{ 'is-selected': domain === $parent.selectedDomain }">
            <a ng-class="'domain-' + domain.name"
              ng-click="$parent.selectedDomain = domain">
              <span class="title">{{domain.title}}</span>
            </a>
          </li>
        </ul>
    </div>
  </div>

  <!--   <div id="cards" class="row" ng-include="'flashcards/cards.html'"></div> -->
  <div id="cards" class="row">
    <div class="small-12 columns">
      <div class="tab-content">
        <section id="cards-section">

          <ul class="items" ng-init="isForward = true; selectedCard = 0"
            ng-class="{ 'is-empty': !cards.length, 'backward': !isForward, 'forward': isForward }">

            <li class="item"
              ng-repeat="card in cards track by $index"
              ng-class="{ 'is-active': $parent.selectedCard === $index, 'is-last': $parent.lastCard === $index }"
              ng-include="'flashcards/single-card.html'">
            </li>
          </ul>

          <div class="item-navigation" ng-show="selectedCard >= 0">
            <a class="prev"
              ng-show="selectedCard >= 1"
              ng-click="isForward = false; lastCard = selectedCard; selectedCard = Math.max(selectedCard - 1, -1)">Prev card</a>
            <a class="next"
              ng-show="(selectedCard + 1) < cards.length"
              ng-click="isForward = true; lastCard = selectedCard; selectedCard = Math.min(selectedCard + 1, cards.length - 1)">Next card</a>
          </div>

        </section>
      </div>
    </div>
  </div>
  <section position-scroll class="completed-cards position" ng-include="'flashcards/completed-milestones-section.html'"></section>
  <section id="static-milestones" class="completed-cards" ng-include="'flashcards/completed-milestones-section.html'"></section>

</div>
