<div class="flashcards-page" on-load-fade>

  <!--top dropdowns-->
  <div class="row">
    <div class="small-12 columns dropdowns">
      <a href="#" data-dropdown="hover1" data-options="is_hover:true" class="card-drop-down">Select Child's Age</a>
        <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li ng-repeat="age in ages"
            ng-class="{ 'is-selected': $parent.$parent.selectedAge === age }">
            <a ng-click="$parent.$parent.selectedAge = age">{{age}}</a>
          </li>
        </ul>

      <a href="#" data-dropdown="hover2" data-options="is_hover:true" class="card-drop-down">Choose Learning Area</a>
        <ul id="hover2" class="f-dropdown" data-dropdown-content>
          <li ng-class="{ 'is-selected': domains[0] === \\$parent.selectedDomain || !\\$parent.selectedDomain }">
            <a ng-class="'domain-' + domains[0].name"
              ng-click="\\$parent.selectedDomain = domains[0]">
              <span class="title">{{domains[0].title}}</span>
            </a>
          </li>
          <li ng-repeat="domain in domains"
            ng-hide="\\$first"
            ng-class="{ 'is-selected': domain === \\$parent.selectedDomain }">
            <a ng-class="'domain-' + domain.name"
              ng-click="\\$parent.selectedDomain = domain">
              <span class="title">{{domain.title}}</span>
            </a>
          </li>
        </ul>
    </div>
  </div>

  <div id="cards" class="row" ng-include="'flashcards/cards.html'"></div>
  <section class="completed-cards" ng-include="'flashcards/completed-milestones.html'"></section>

</div>
