<div class="flashcards-page" on-load-fade>
  <section class="row view-cards">
    <div class="row dropdowns">
      <div class="small-4 columns">
        <a href="#" data-dropdown="hover1" data-options="is_hover:true" class="card-drop-dwn">Select Child's Age</a>

        <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
        </ul>
      </div>
      <div class="small-4 columns end">
        <a href="#" data-dropdown="hover2" data-options="is_hover:true" class="card-drop-dwn">Choose Learning Area</a>

        <ul id="hover2" class="f-dropdown" data-dropdown-content>
          <li><a href="#">Creative Expression</a></li>
          <li><a href="#">Mathmatics</a></li>
          <li><a href="#">Language & Literacy</a></li>
          <li><a href="#">Science</a></li>
          <li><a href="#">Health & Well-Being</a></li>
          <li><a href="#">Executive Function</a></li>
          <li><a href="#">Family & Community</a></li>
          <li><a href="#">Social & Emotional</a></li>
        </ul>
      </div>
    </div>
    <div id="cards" class="row">
      <div class="small-1 columns item-navigation prev" ng-hide="displayDefault">
        <a cycle-card="" class="prev" ng-click="cardBackwardAnimation()">Prev Card</a>
      </div>
      <section class="small-10 small-offset-1 columns">
        <div class="row">
          <div class="small-2 small-push-10 columns">
            <div class="card-domain science">
              <img src="img/learning-areas/domain-icons/science.svg" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-4 columns card-buttons">
            <a href="#" class="complete-btn">Complete</a>
            <a href="#" class="media-btn">Upload Media</a>
          </div>
          <div class="small-8 columns card-copy">
            <h1>Card Title</h1>
            <p>Card Copy here Card Copy here Card Copy here Card Copy here Card Copy here Card Copy here </p>
            <p><strong>Skill:</strong>Skill copy here Skill copy here Skill copy here</p>
          </div>
        </div>
      </section>
      <div class="small-1 columns item-navigation next" ng-hide="displayDefault">
        <a cycle-card="" class="next" ng-click="cardForwardAnimation()">Next Card</a>
      </div>
    </div>
  </section>
  <section class="completed-cards">
    <nav class="milestones">
      <div class="row">
        <a href="#" class="small-4 columns">Completed Milestones</a>
      </div>
    </nav>
    <div id="cardfolio" class="row">
      <ul class="small-block-grid-5">
        <li class="empty-card">
          <a href="#"></a>
        </li>
        <li class="completed-card">
          <a href="#"><img src="http://placehold.it/200x130"></a>
        </li>
        <li class="completed-card">
          <a href="#"><img src="http://placehold.it/200x130"></a>
        </li>
        <li class="completed-card">
          <a href="#"><img src="http://placehold.it/200x130"></a>
        </li>
        <li class="completed-card">
          <a href="#"><img src="http://placehold.it/200x130"></a>
        </li>
      </ul>
    </div>
    <div class="small-3 columns">
      <a href="#" class="expand-milestones">View All</a>
    </div>
  </section>
</div>
