<section class="top">
  <div class="content">

        <div class="card">
          <h1>known size</h1>
        </div>
      </div>

</section>
<section class="bottom" media>
  <div class="content">
    <div class="row">
      <div class="small-12 columns">
        <ul class="controls">
          <li><a ng-click="moveUp()">up</a></li>
          <li><a ng-click="moveDown()">down</a></li>
          <li><a ng-click="viewToggle = !viewToggle">toggle list/grid</a></li>
        </ul>
        <div ng-if="!viewToggle">
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
          </ul>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
          </ul>
        </div>
        <div ng-if="viewToggle">
          <ul class="media-list">
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
          </ul>
          <ul class="media-list">
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
            <li><img src="http://placehold.it/200x100" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<footer ng-include="'main/footer.html'"></footer>
