<section class="account">
  <div class="row">
    <div class="small-10 columns small-centered">
      <h2>Sign in and track your child’s progress toward school readiness</h2>
      <div class="social-login">
        <ul>
          <li><a class="button social-button facebook">Login with Facebook</a></li>
          <li><a class="button social-button google">Login with Google</a></li>
        </ul>
      </div>
      <h3>Or sign in with email</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-offset-2 small-8 columns end text-inputs last">
      <input class="better-placeholder email" type="text" name="email" placeholder="Email"
        ng-model="username"
        required />
      <input class="better-placeholder password" type="password" name="password" placeholder="Password"
        ng-model="password"
        required />
    </div>
  </div>
  <div class="row password-options">
    <div class="small-offset-2 small-8 columns last">
      <input id="login-keep-signed-in" class="checkbox" type="checkbox"
        ng-model="signInFormData.keepSignedIn" />
      <span>Keep me logged in</span>
      <span><a href="#">Forgot password</a></span>
    </div>
  </div>
  <div class="row sign-in">
    <div class="small-8 columns small-centered">
      <a class="button">Sign In</a>
      <p class="terms">
        By signing up or using Curious World services
         you agree to the Curious World <a href="#">Terms of Use</a>
          and <a href="#">Privacy Policy.</a></p>
      <h3>Don't have an account yet? <a href="#">Sign up</a></h3>
    </div>
  </div>
</section>


<!-- <section class="account">
  <h1 class="title">Sign In</h1>
  <form id="login-form" name="loginForm" action="" method="post"
    ng-submit="\$event.preventDefault()"
    novalidate>
    <p class="instruction">You can sign in with your HMHco.com account.</p>
  	<div class="text-inputs row">
  		<div class="small-12 columns" ng-class="{ 'has-error': (submitted && loginForm.email.\$error.required) }">
  			<input class="better-placeholder" type="text" name="email" placeholder="Email"
          ng-model="username"
          required />
      </div>
      <div class="small-12 columns" ng-class="{ 'has-error': (submitted && loginForm.password.\$error.required) }">
  			<input class="better-placeholder" type="password" name="password" placeholder="Password"
          ng-model="password"
          required />
  		</div>
  	</div>
  	<div class="row">
  		<div class="small-12 forgot-password">
  			<a>Forgot your password?</a>
  		</div>
  	</div>
  	<div class="row">
  		<div class="small-12">
  			<label for="login-keep-signed-in" class="checkbox"
          ng-class="{ 'is-checked': signInFormData.keepSignedIn }"
          ng-click="signInFormData.keepSignedIn = !signInFormData.keepSignedIn; \$event.preventDefault">
          <input id="login-keep-signed-in" type="checkbox"
            ng-model="signInFormData.keepSignedIn" />
          <span>Keep me signed in</span>
        </label>
  		</div>
  	</div>
    <div class="social-login">
    	<div class="row">
    		<button class="button small-12" type="submit" ng-click="error = false; submitted=true; submit()">Sign In</button>
    	</div>
      <p>Or</p>
      <div class="row">
        <button class="button facebook-login small-12"><span>Sign In with Facebook</span></button>
      </div>
    </div>
    <div class="row">
      <div id="socialButtonWrapper">
        <div id="customBtn" class="customGPlusSignIn button">
          <span class="icon"></span>
          <span class="buttonText">Sign In with Google</span>
        </div>
      </div>
    </div>
    <div class="row no-account">
      <p class="instruction">Don't have an account? <a href data-reveal-id="create-account-modal">Create on now.</a></p>
      <button class="button small-12 create-new-account" data-reveal-id="create-account-modal">Create an Account</button>
    </div>
  </form>
  <a class="close-reveal-modal" ng-click="submitted=false;">&#215;</a>
</section>
 -->
