<h1 class="title">Create Account</h1>
<ul class="create-account-steps">
  <li>
    <a class="step"></a>
  </li>
  <li>
    <a class="step active"></a>
  </li>
</ul>
<form id="create-account-form" name="createAccountForm" action="" method="post"
  ng-submit="$event.preventDefault()"
  novalidate>
  <div class="text-inputs row">
    <div class="small-12 columns" ng-class="{ 'has-error': submitted && createAccountForm.firstName.$error.required }">
      <input class="better-placeholder" type="text" name="firstName" placeholder="First Name"
        ng-model="signUpFormData.firstName"
        required />
    </div>
    <div class="small-12 columns" ng-class="{ 'has-error': submitted && createAccountForm.lastName.$error.required }">
      <input class="better-placeholder" type="text" name="lastName" placeholder="Last Name"
        ng-model="signUpFormData.lastName"
        required />
    </div>
    <div class="small-12 columns" ng-class="{ 'has-error': submitted && (createAccountForm.email.$error.required || createAccountForm.email.$error.email) }">
      <input class="better-placeholder" type="email" name="email" placeholder="Email"
        ng-model="signUpFormData.email"
        required />
    </div>
    <div class="small-12 columns" ng-class="{ 'has-error': submitted && createAccountForm.password.$error.required }">
      <input class="better-placeholder" type="password" name="password" placeholder="Password"
        ng-model="password"
        pw-check="passwordAgain"
        required />
    </div>
    <div class="small-12 columns" ng-class="{ 'has-error': submitted && (createAccountForm.passwordAgain.$error.required || createAccountForm.password.$error.pwmatch) }">
      <input class="better-placeholder" type="password" name="passwordAgain" placeholder="Confirm Password"
        ng-model="passwordAgain"
        required />
    </div>
  </div>
  <div class="row">
    <div class="small-12 terms-and-privacy">
      <label for="agree-terms" class="checkbox"
        ng-init="signUpFormData.agreeTerms = false"
        ng-class="{ 'is-checked': signUpFormData.agreeTerms, 'has-error': submitted && createAccountForm.agreeTerms.$error.required }"
        ng-click="signUpFormData.agreeTerms = !signUpFormData.agreeTerms; $event.preventDefault()">
        <input id="agree-terms" type="checkbox" name="agreeTerms"
          ng-model="signUpFormData.agreeTerms"
          required />
        <span>I agree to the <a href="terms">Terms of Use</a> and consent to the <a href="privacy-policy">Privacy Policy</a>.</span>
      </label>
    </div>
  </div>
  <div class="row">
    <button class="button small-12" type="submit" ng-click="submitted = true; signUpNext()">Next</button>
  </div>
</form>
<a class="close-reveal-modal" ng-click="submitted=false;">&#215;</a>
