<aside class="right-off-canvas-menu" ng-include="'community/menus.html'"></aside>
<div id="community" ng-init="$root.contentClass = 'community'">
  <header id="header-bar" class="row">
    <h1><span>Community</span></h1>
    <ul id="filters">
      <li class="category-selector">
        <div class="selector show-for-medium-up">
          <a class="selected-option" data-dropdown="category-selector">
            <span>{{selectedCategory.title || "All Categories"}}</span>
          </a>
          <div id="category-selector" class="f-dropdown" data-dropdown-content>
            <ul>
              <li ng-class="{ 'is-selected': !selectedCategory }">
                <a ng-click="selectedCategory = ''">All Categories</a>
              </li>
              <li ng-repeat="category in categories"
                ng-class="{ 'is-selected': category === $parent.selectedCategory }">
                <a ng-click="$parent.selectedCategory = category">
                  <span>{{category.title}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="single-selector hide-for-medium-up">
          <a class="right-off-canvas-toggle"
            ng-click="$root.offCanvasMenu = 'category-selector'">{{selectedCategory.title || "All Categories"}}</a>
        </div>
      </li>
      <li class="domain-selector">
        <div class="selector show-for-medium-up">
          <a class="selected-option" data-dropdown="domain-selector">
            <span>{{selectedDomain.title || "All Domains"}}</span>
          </a>
          <div id="domain-selector" class="f-dropdown" data-dropdown-content>
            <ul>
              <li ng-class="{ 'is-selected': !selectedDomain }">
                <a ng-click="selectedDomain = ''">All Domains</a>
              </li>
              <li ng-repeat="domain in domains"
                ng-class="{ 'is-selected': domain === $parent.selectedDomain }">
                <a ng-class="'domain-' + domain.name"
                  ng-click="$parent.selectedDomain = domain">
                  <span>{{domain.title}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="single-selector hide-for-medium-up">
          <a class="right-off-canvas-toggle"
            ng-click="$root.offCanvasMenu = 'domain-selector'">{{selectedDomain.title || "All Domains"}}</a>
        </div>
      </li>
      <li class="sorting-selector">
        <div class="selector show-for-medium-up"
          ng-init="selectedSorting = sorting[0]">
          <a class="selected-option" data-dropdown="sorting-selector">
            <span>{{selectedSorting.title}}</span>
          </a>
          <div id="sorting-selector" class="f-dropdown" data-dropdown-content>
            <ul>
              <li ng-repeat="sortingOption in sorting"
                ng-class="{ 'is-selected': sortingOption === $parent.selectedSorting }">
                <a ng-click="$parent.selectedSorting = sortingOption">
                  <span>{{sortingOption.title}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="single-selector hide-for-medium-up">
          <a class="right-off-canvas-toggle"
            ng-click="$root.offCanvasMenu = 'sorting-selector'">{{selectedSorting.title}}</a>
        </div>
      </li>
      <li class="likeability-selector" ng-hide="true">
        <div class="selector show-for-medium-up"
          ng-init="selectedLikeability = likeability[0]">
          <a class="selected-option" data-dropdown="likeability-selector">
            <span ng-bind-html="selectedLikeability.title"></span>
          </a>
          <div id="likeability-selector" class="f-dropdown" data-dropdown-content>
            <ul>
              <li ng-repeat="likeable in likeability"
                ng-class="{ 'is-selected': likeable === $parent.selectedLikeability }">
                <a ng-click="$parent.selectedLikeability = likeable">
                  <span ng-bind-html="likeable.title"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="single-selector hide-for-medium-up">
          <a class="right-off-canvas-toggle"
            ng-click="$root.offCanvasMenu = 'likeability-selector'">
            <span ng-bind-html="selectedLikeability.title"></span>
          </a>
        </div>
      </li>
    </ul>
  </header>
  <ul id="challenges" class="row" wookmark>
    <li class="small-12 medium-6 large-4 columns"
      ng-repeat="challenge in challenges track by $index"
      ng-include="'community/single-challenge.html'"></li>
  </ul>
</div>
<footer ng-include="'main/footer.html'"></footer>