<div id="community" class="single"
  ng-class="'domain-' + challenge.domain">
  <header id="header-bar" class="row">
    <h1><span>{{challenge.title}}</span></h1>
    <div class="add-post">
      <strong>
        <ng-pluralize count="challenge.completions.length"
        when="{
          '0': 'No posts, yet',
          'one': '1 Post',
          'other': '{{challenge.completions.length - 1}} Posts'
        }"></ng-pluralize>
      </strong>
      <a class="button" data-reveal-id="share-challenge">Add Post</a>
    </div>
    <!--social buttons-->
    <!--data-url="location.absUrl()"-->
      <ul ng-social-buttons
          data-url="'http://google.com'"
          data-title="'Curious World - ' + challenge.title"
          data-description="challenge.title"
          data-image="challenge.image"
          showcounts="true">
          <li class="ng-social-facebook">Share</li>
          <li class="ng-social-twitter">Tweet</li>
          <li class="ng-social-pinterest">Pin it</li>
      </ul>
    <!--social buttons-->
  </header>
    <ul id="completions" class="row" wookmark>
    <li class="small-12 medium-6 large-4 columns">
      <div id="descriptive-completion" class="completion">
        <a class="image" data-reveal-id="comments-main">
          <img ng-src="{{challenge.image}}" />
        </a>
        <div class="description">
          <strong class="name">Dr. Tracy</strong>
          <time datetime="{{challenge.date}}" am-time-ago="completion.date"></time>
          <div class="comment">{{challenge.description}}</div>
        </div>
        <div class="first-comment"
          ng-show="challenge.comments.length"
          ng-repeat="comment in challenge.comments | limitTo: 1">
          <strong class="author">{{comment.author}}</strong>
          <time datetime="{{comment.date}}" am-time-ago="comment.date"></time>
          <div class="comment">{{comment.content}}</div>
        </div>
        <a class="more" data-reveal-id="comments-main">
          <ng-pluralize count="challenge.comments.length" offset=1
          when="{
            '0': 'Be first to comment!',
            '1': 'Make a comment!',
            'one': '1 more comment',
            'other': '{{challenge.comments.length - 1}} more comments'
          }"></ng-pluralize>
        </a>
        <div id="comments-main" class="reveal-modal small comments-modal" data-reveal>
          <a class="close-reveal-modal">&#215;</a>
          <span class="image">
            <img ng-src="{{challenge.image}}" />
          </span>
          <ul class="rate" ng-include="'community/rate-bar.html'"></ul>
          <ul class="comments" ng-show="challenge.comments.length">
            <li class="description"
              ng-repeat="completion in [challenge]"
              ng-include="'community/single-description.html'"></li>
            <li ng-repeat="comment in challenge.comments track by $index"
              ng-include="'community/single-comment.html'"></li>
          </ul>
          <form ng-submit="$event.preventDefault">
            <textarea placeholder="Write a comment"></textarea>
            <button>Post Comment</button>
          </form>
        </div>
      </div>
    </li>
    <li class="small-12 medium-6 large-4 columns"
      ng-repeat="completion in challenge.completions track by $index"
      ng-include="'community/single-completion.html'"></li>
  </ul>
  <div id="share-challenge" class="reveal-modal small challenge-submission" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <form ng-submit="$event.preventDefault">
      <div class="media"
        dropzone="dropzone"
        dropzone-config="{ url: '/upload' }"
        ng-dropzone>
        <span>To add a picture or video to the community, drag a file here or click to browse.</span>
      </div>
      <textarea placeholder="Write a caption"></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
</div>
