<div class="completion">
  <a class="image" data-reveal-id="comments-{{$index}}">
		<img ng-src="{{completion.image}}" />
	</a>
  <ul class="rate" ng-include="'community/rate-bar.html'"></ul>
	<div class="description"
    ng-include="'community/single-description.html'"></div>
	<div class="first-comment"
    ng-show="completion.comments.length"
    ng-repeat="comment in completion.comments | limitTo: 1"
    ng-include="'community/single-comment.html'"></div>
  <a class="more" data-reveal-id="comments-{{$index}}">
    <ng-pluralize count="completion.comments.length" offset=1
    when="{
      '0': 'Be first to comment!',
      '1': 'Make a comment!',
      'one': '1 more comment',
      'other': '{{completion.comments.length - 1}} more comments'
    }"></ng-pluralize>
  </a>
  <div id="comments-{{$index}}" class="reveal-modal small comments-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <span class="image">
      <img ng-src="{{completion.image}}" />
    </span>
    <ul class="rate" ng-include="'community/rate-bar.html'"></ul>
    <ul class="comments">
      <li class="description"
        ng-include="'community/single-description.html'"></li>
      <li ng-repeat="comment in completion.comments track by $index"
        ng-include="'community/single-comment.html'"></li>
    </ul>
    <form ng-submit="$event.preventDefault">
      <textarea placeholder="Write a comment"></textarea>
      <button>Post Comment</button>
    </form>
  </div>
  <div id="edit-{{$index}}" class="reveal-modal small challenge-submission" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <form ng-submit="$event.preventDefault()">
      <div class="media"
        dropzone="dropzone"
        dropzone-config="{ url: '/upload' }"
        ng-dropzone>
        <span>To add a picture or video to the community, drag a file here or click to browse.</span>
      </div>
      <textarea placeholder="Write a caption"
        ng-model="completion.description"></textarea>
      <button type="submit">Done Editing</button>
    </form>
  </div>
</div>