<a href="#" data-reveal-id="manage-account-modal" ng-click="submitted = false;">Back</a>
<div class="title">
    <h2>Change Password</h2>
</div>
<form class="base-form" name="manageAccountForm" novalidate ng-submit="$event.preventDefault()" action="#" method="post">
    <div class="row">
        <div class="small-12 columns">
            <input type="password" name="oldPassword" placeholder="Old Password" ng-required="true" ng-model="oldPassword"/>
            <span class="error" ng-show="submitted && manageAccountForm.oldPassword.$error.required">Please enter your old password.</span>
            <input ng-class="{error: (submitted && manageAccountForm.password.$error.required)}" type="password" name="password" placeholder="New Password" ng-required="true" pw-check="passwordAgain" ng-model="password"/>
            <span class="error" ng-show="submitted && manageAccountForm.password.$error.required">Please enter a password.</span>
            <input ng-class="{error: (submitted && manageAccountForm.passwordAgain.$error.required)}" type="password" name="passwordAgain" placeholder="Confirm New Password"  ng-required="true" ng-model="passwordAgain"/>
            <span class="error" ng-show="manageAccountForm.password.$error.pwmatch">Passwords don't match.</span>
            <span class="error" ng-show="submitted && errorStatus">{{errorStatus}}</span>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns pill-button">
            <input type="submit" class="button" value="Save Changes" ng-click="submitted = true; updateUserPassword()">
        </div>
    </div>
</form>
<a class="close-reveal-modal" ng-click="submitted = false;">&#215;</a>