<div class="domain-key-modal-container">
  <div class="row">
    <div class="domain-key small-10 medium-6 small-centered columns">
      <ul>
        <li ng-repeat="domain in domains" ng-class="'domain-' + domain.name" ng-click="selectKeyDomain(domain.title);">
          <a>
            <span class="key-title">{{domain.title}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="domain-description small-10 medium-6 small-centered columns">
      <ul>
        <li ng-repeat="domain in domains" ng-class="'domain-' + domain.name" ng-show="keyDomain == domain.title || isMobile">
          <p><span>{{domain.title}}: </span>{{domain.description}}</p>
        </li>
      </ul>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
