<h1 class="title">Manage Profile</h1>
<form id="create-account-form-two" name="createAccountFormTwo" action="" method="post"
  ng-submit="$event.preventDefault()"
  novalidate>
    <p class="instruction">Choose a display name. It will be displayed with your comments and stories.</p>

  <div class="text-inputs row">
    <div class="small-12 columns" ng-class="{ 'has-error': submitted && createAccountFormTwo.displayName.$error.required }">
      <input class="better-placeholder" type="text" name="displayName" placeholder="Display name" ng-model="signUpFormData.displayName" required />
    </div>
  </div>
  <div class="radio-inputs row" ng-class="{ 'has-error': submitted && createAccountFormTwo.storyVisibility.$error.required }">
    <p>Make my comments or stories visible to:</p>
    <div class="small-12" ng-init="signUpFormData.storyVisibility = 'Public'">
      <label for="create-account-visibility-public" class="radio-button"
        ng-class="{ 'is-checked': signUpFormData.storyVisibility === 'Public' }"
        ng-click="signUpFormData.storyVisibility = 'Public'; $event.preventDefault()">
        <input id="create-account-visibility-public" type="radio" name="storyVisibility" value="Public"
          ng-model="signUpFormData.storyVisibility"
          required />
        <span>Public</span>
      </label>
    </div>
    <div class="small-12">
      <label for="create-account-visibility-community" class="radio-button"
        ng-class="{ 'is-checked': signUpFormData.storyVisibility === 'Community' }"
        ng-click="signUpFormData.storyVisibility = 'Community'; $event.preventDefault()">
        <input id="create-account-visibility-community" type="radio" name="storyVisibility" value="Community"
          ng-model="signUpFormData.storyVisibility"
          required />
        <span>Curious World community only</span>
      </label>
    </div>
  </div>

  <div class="row">
    <button class="button secondary small-12" type="submit" data-reveal-id="reset-cards-modal">Reset Cards</button>
  </div>
  <div class="row">
    <button class="button small-12" type="submit">Save Changes</button>
  </div>
</form>
<a class="close-reveal-modal" ng-click="submitted=false;">&#215;</a>