<div id="milestone-modal" class="reveal-modal" data-reveal>
  <section class="modal-card">
    <div class="row">
      <div class="card-domain science">
        <img ng-src="img/learning-areas/domain-icons/science.svg" alt="">
      </div>
      <div class="small-4 columns">
        <img src="http://placehold.it/420x420" alt="user uploaded photo">
      </div>
      <div class="small-8 columns">
        <h1>Title</h1>
        <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut, eaque at, pariatur quos earum, optio quo vero deserunt soluta aut eos. In, doloribus atque porro. Delectus nobis aspernatur iure.</p>
        <p><strong>Skill: </strong>skill ipsum</p>
        <div class="social-links">
          <a class="email">Email</a>
          <a href="facebook.com" class="facebook">Facebook</a>
          <a href="twitter.com" class="twitter">Twitter</a>
          <a href="pinterest.com" class="pinterest">Pinterest</a>
        </div>
      </div>
    </div>
  </section>
   <a class="close-reveal-modal">&#215;</a>
</div>
