<a href="#" data-reveal-id="manage-account-modal">Back</a>
<div class="title">
    <h2>Reset Cards</h2>
</div>
<div id="reset-info" class="base-form">
    <div class="row">
        <div class="small-12 columns">
           <label>Remove all shared comments, submissions, photos, and videos from Curious World?</label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns pill-button">
            <input id="remove-shared-content" type="submit" class="button expand " value="Yes, remove shared content"  ng-click="removeSharedContent()">
        </div>
    </div>
</div>
<a class="close-reveal-modal">&#215;</a>