<div class="reset-cards-modal">
    <a href="#" class="modal-back-button" data-reveal-id="manage-profile-modal"></a>
<h1 class="title">Reset Cards</h1>
<div id="reset-info">
    <div class="row">
        <div class="small-12 columns large-instruction">
            <p>Resetting your cards will remove all progress, photos, and video from your Cardfolio</p>
        </div>
    </div>

    <div class="row">
        <button class="button destructive small-12" type="submit">Yes, reset my Cardfolio</button>
    </div>
</div>
<a class="close-reveal-modal">&#215;</a>
</div>
