<div class="success-modal">
<h1 class="title">Welcome!</h1>
<div id="reset-info">
	<div class="row">
		<div class="small-12 columns success-message">
			<p>Hello <span>{{userInfo.getUser().displayName}}</span>,</p>
			<p>Curious world makes it easy to practice and track your child's growth in 8 different domains.</p>
			<p>It's also a place to kick back, and share stories with other parents.</p>
		</div>
	</div>

	<div class="row">
		<button class="button small-12" type="submit">Take a look!</button>
	</div>
</div>
<a class="close-reveal-modal">&#215;</a>
</div>