<section class="more-info">
	<h3><img class="avatar" src="img/dr-tracy.png"/>Dr.Tracy explains whole-child development<img src="img/down-arrow.png"/></h3>
	<div class="explanation-info">
		<div class="row">
			<div class="small-6 columns small-centered">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur rerum quod ut in exercitationem praesentium nam ea cum aliquid repellat laborum ipsum sint ab provident nihil cumque tempore ullam.</p>
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quo, facilis tenetur sequi eveniet repellat atque iure quidem optio id vel recusandae cum esse ducimus earum cumque totam autem dolorem?</span><span>Ut rem accusantium dolorum optio! Veniam, repellat voluptatum natus error obcaecati maxime explicabo distinctio laudantium ut maiores id unde dolorum aut rem consequatur esse beatae et veritatis rerum accusantium accusamus.</span></p>
			</div>
		</div>
	</div>
</section>